<div class="container">
  <div class="radios d-flex justify-content-between text-primary">
    <div class="form-check">
      <input class="form-check-input" type="radio" (change)="onChecked($event)" name="species" value="All">
      <label class="form-check-label" for="exampleRadios1">
        All
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (change)="onChecked($event)" name="species" value="Alien">
      <label class="form-check-label" for="exampleRadios1">
        Alien
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (change)="onChecked($event)" name="species" value="Human">
      <label class="form-check-label" for="exampleRadios1">
        Human
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (change)="onChecked($event)" name="species" value="Robot">
      <label class="form-check-label" for="exampleRadios1">
        Robot
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (change)="onChecked($event)" name="species" value="Disease">
      <label class="form-check-label" for="exampleRadios1">
        Disease
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (change)="onChecked($event)" name="species" value="Cronenberg">
      <label class="form-check-label" for="exampleRadios1">
        Cronenberg
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" (change)="onChecked($event)" name="species" value="Poopybutthole">
      <label class="form-check-label" for="exampleRadios1">
        Poopybutthole
      </label>
    </div>
  </div>
  <div class="characters" *ngIf="(characters$ | async) as characters">
    <h3>Characters</h3>
    <hr>
    <nav>
      <ul class="pagination justify-content-end">
        <li class="page-item" [ngClass]="{'disabled': characters.info.prev == null}">
          <!-- le ngClass permet de mettre des conditions-->
          <a class="page-link" (click)="changePageByUrl(characters.info.prev)">Prev</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': characters.info.next == null}">
          <a class="page-link" (click)="changePageByUrl(characters.info.next)">Next</a>
        </li>
      </ul>
    </nav>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let character of characters.results">
        <!-- bootstrap fonctionne par 12 colonnes par page donc a chaque fois on doit trouver ce 12 en petit écran 1 colone de 12, moyen ecran 2 colone de 6, puis 3 colone de 4 puis 4 colone de 3-->
        <div class="card mb-2">
          <!-- mb-2 ==> margin-bottom de 20px -->
          <img [src]="character.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">
              <a [routerLink]="['/characters', character.id]">{{character.name}}</a>
            </h5>
            <p class="card-text">Specie : {{character.species}}</p>
            <p class="card-text">Gender : {{character.gender}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
